<!-- src/app/components/top-navbar/top-navbar.component.html -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top w-100 shadow-md">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">{{ applicationName }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" routerLink="/list" routerLinkActive="active">List</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>